.champion-container
  min-height: 300px
  // background-position: 0 20%
  // background-size: cover
  padding: 150px 20px 10px
  .lore
    background: rgba(0,0,0,0.7)
    padding: 10px
    border-radius: 10px
  .down-text
    margin-top: 5%
.v-slide-group__content
  justify-content: center
.skills
  margin-top: 10px
  border-radius: 10px
  .col
    background: $side
    border-radius: 10px
    margin: 5px
    p
      font-size: 14px
.dicacom,.dicacontra
  padding: 10px
  margin: 10px
.dicas li span
  font-size: 14px
.dicacom
  background-color: $verdao
  color: $black
  border-radius: 10px
.dicacontra
  background-color: $error
  border-radius: 10px
.v-dialog:not(.v-dialog--fullscreen)
  max-width: 1200px
.v-dialog
  box-shadow: none
  border-radius: 10px
  
@media (max-width: $layout-breakpoint-small)
.champion-container
  // min-height: 200px
  // background-position: 50% 50%
  .lore
    font-size: 13px
.skills
  .col p 
    font-size: 12px !important