.page
  background-color: $black !important
  color: $white !important
  padding: 20px
.champ-container  
  margin: 5px
  margin-bottom: 10px
  padding: 10px 0
  cursor: pointer
  border-radius: 10px
  .v-avatar
    margin-bottom: 10px
    border: 3px solid $cinza
.champ-container:hover
  opacity: 0.9
  background: $degrade-salmon
.busca input
  background-color: $white
  